.uniswapLogo {
    margin-top: 0px;
    font-size: 4em;
    position: absolute;
    right: 8%;
    top: 3%;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-container {
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'center'; 
    width: 936px;
}