@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Permanent+Marker&display=swap');

.home-icon {
    background-color: #E5C3C6;
    border: 2px solid #EA929A;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.account-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D0B783;
    border: 2px solid #B99D61;
    border-radius: 45px;
    cursor: pointer;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    margin-left: 5px;
    color: #F96161;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #98b3ed;
    border: 2px solid #5b77b5;
    border-radius: 45px;
    cursor: pointer;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    margin-left: 5px;
    color: #F96161;
}

.create-product-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #98b3ed;
    border: 2px solid #5b77b5;
    border-radius: 45px;
    cursor: pointer;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    margin-left: 5px;
    color: #F96161;
}

.uniswapLogoMini {
    margin: 0px;
    font-size: 4em;
    cursor: default;
}
.home-icon-image {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
}

.searchbar {
    background-color: #D9D9D9;
    border: 2px solid #B3B3B3;
    border-radius: 45px;
    height: 50px;
    font-family: "Permanent Marker", cursive;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    width: 50vw;
    padding-left: 10px;
    margin-left: 5px;
}

.product-type-select {
    background-color: #B3B3B3;
    border: 1px solid brown;
    border-radius: 10px;
    margin-left: 5px;
}
