.uniswapLogo {
    margin-top: 0px;
    font-size: 4em;
    position: absolute;
    right: 8%;
    top: 3%;
}

.products-container {
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'center'; 
    width: 936px;
}

.homelistings {
    margin: 3px;
    font-size: 2rem;
    color: #d05151;
}

.centerForHome {
    display: flex;
    justify-content: center;
}

.listOfItems {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    height: 250px;
    /* background-color: #f96161; */
    padding-bottom: 20px;
}