.seller-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.similar-items-container {
    width: 230px;
    height: 230px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: scroll;
}

.buy-product-button {
    width: 140px;
    height: 35px;
    background-color: #DCA4FF;
    border: 2px solid #D287FF;
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.product-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #E5C3C6;
    border: 2px solid #FF7B87;
    border-radius: 20px;
    width: 70%;
    height: fit-content;
    margin: 10px;
}

.product-listing-image {
    width: 100%;
    height: auto;
    max-height: 375px;
    border-radius: 20px;
}

.product-info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seller-profile-small {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
}

.product-description-long {
    width: auto;
    max-width: 763px;
    text-align: center;
    margin-bottom: 10px;
}