.uniswapLogo {
    margin-top: 0px;
    font-size: 4em;
    right: 8%;
    top: 3%;
}

.bigger-icon {
    font-size: 60px;
    color: #EA929A;
}

.profileButton {
    border-radius: 16px;
    width: 140px;
    height: 50px;
    background-color: #D0B783;
    border: 2px solid #B99D61;
    margin-right: 10px;
    margin-left: 10px;

}
.profile {
    margin-top: 0px;
    font-size: 2em;
    right: 8%;
    top: 3%;
}

.products-container-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 16px;
    width: 70vw;
    height: 25vh;
}

.products-wrapper {
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 1196px;
    top: 453px;
    left: 170px;
    height: 650px;
    overflow-y: auto;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    /* or absolute depending on your layout */
    top: 0;
    left: 0;
}



/* decprition css */
.text-area-wrapper {
    margin-top: 20px;
}

.transparent-textarea {
    position: fixed;

    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    width: 516px;
    height: 260px;
    top: 172px;
    left: 836px;
}





/* profile css */
.profile-icon {
    position: relative;
    border: 2px solid #B3B3B3;
    width: 245px;
    height: 245px;
    top: 150px;
    left: 150px;
    border-radius: 50%;
}

.profile-icon:hover .edit-icon {
    opacity: 1;
}

.profile-image {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.edit-icon {
    position: absolute;
    bottom: 0px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.edit-icon:hover {
    opacity: 1;
}

.edit-button {
    color: #000;
    font-size: 20px;
}